/db
logs
/target/
.idea
/*.log
*.iml
/registration/*.iml
/registration/registration-client/*.iml
/registration/registration-libs/registration-libs.iml
/registration/registration-services/registration-services.iml
.DS_Store
guinea-reg-client.zip
/registration/registration-libs/dependency-reduced-pom.xml
/registration/registration-libs/src/main/resources/props/mosip-application.properties
